* {
  box-sizing: border-box;
}

body {
width: 90vw;
height: auto;
padding-left: 4vw;
padding-right: 4vw;
}

.clear {
  clear: both;
}

.header {
    height: 7vw;
    width: 90vw;
    position: relative;
}

.header h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3vw;
}

.header h1 a {
    text-decoration: none;
    color: black;
}

.main-menu {
  width: 90vw;  
  height: 3vw;
  position: relative;  
  margin-top: -2vw;
}

.main-menu ul {
    width: 90vw;    
    padding-left: 0vw;
    height: 1.6vw;
    margin-top: 1vw;
    position: relative;
}

.main-menu ul li {
   float: left;
   list-style: none;
   height: 1.5vw;   
   width: 11vw;
}

nav.main-menu ul li.active a {
  color: black;
}

.main-menu ul li a {
    text-decoration: none;
    color: rgb(139, 138, 138);
    font-size: 1.1vw;
    position: absolute;
    text-transform: uppercase;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}



.main-menu ul li a:hover {
  color: black;
}

.gallery {
    width: 90vw;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.gallery h3 {
  font-size: 1.4vw;
}

.thumbnail {
  height: 20vw;
  background-color: black;
  border-radius: 1vw;
  overflow: hidden;
  float: left;
  align-content: center;
  margin-right: 0.1vw;
  margin-bottom: 0.1vw;
}

.thumbnail img {
  display: block;
margin-left: auto;
margin-right: auto;
}

.wide {
  width: 29.9vw;
}

.narrow {
  width: 14.9vw;
}


 /* Style the Image Used to Trigger the Modal */
 #myImg {
    cursor: pointer;
    transition: 0.3s;
    height: 20vw;
    
  }
  
  #myImg:hover {opacity: 0.7;}
  
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 10vw; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }
  
  /* Modal Content (Image) */
  .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 50vw;
  }
  
  /* Caption of Modal Image (Image Text) - Same Width as the Image */
  #caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 70vw;
    text-align: center;
    color: #ccc;
    padding: 1vw 0;
    height: 15vw;
  }
  
  /* Add Animation - Zoom in the Modal */
  .modal-content, #caption {
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
  }
  
  /* The Close Button */
  .close {
    position: absolute;
    top: 1.5vw;
    right: 3.5vw;
    color: #f1f1f1;
    font-size: 4vw;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 700px){
    .modal-content {
      width: 100%;
    }
  } 

  .events {
    width: 90vw;
   height: fit-content;
    margin-top: 1vw;
  }

.event {
  height: 25vw;
  border-radius: 1vw;
  overflow: hidden;
  float: left;
  align-content: center;
  margin-right: 0.1vw;
  margin-bottom: 0.1vw;
}

.event h3 {
  text-align: center;
}

.event h3 a {
  text-decoration: none;
  color: black;
  font-size: 1.3vw;
}

.event-link img {
  height: 20vw;
}

.profile-photo {
  height: 30vw;
  border-radius: 1vw;
  overflow: hidden;
  float: left;
  align-content: center;
  margin-right: 1vw;
  width: 30vw;
  margin-top: 1.5vw;
}

.profile-photo img {
  display: block;
margin-left: auto;
margin-right: auto;
width: 30vw;
}

.about {
  float: left;
  margin-top: 1vw;
  height: fit-content;
  width: 90vw;
}

article {
  width: 59vw;
  float: right;
}

article h2 {
  text-align: left;
  font-size: 1.5vw;
}

article p {
  text-align: justify;
  font-size: 1.1vw;
  margin-right: 1vw;
}



.contact {
  margin-top: 1vw;
}

.contact h3 {
  font-size: 1.5vw;
}

.contact p {
  margin-left: 8vw;
  font-size: 1.1vw;
  padding: 0.1vw 0;
}

footer {
  width: 90vw;
  height: fit-content;
  margin-top: 5vw;
}

footer p {
  font-size: 1.1vw;
}

.icon img {
  width: 1.5vw;
}

.menubtn, .menu-content {
  display: none;
}



@media only screen and (max-width:620px){
  .dropdown {
    display: block;
  }

  .menubtn {
    border-radius: 1vw 1vw 1vw 1vw;
    background-color: white;
    padding-left: 1vw;
    padding-right: 1vw;
    width: auto;
    cursor: pointer;
    transition: 0.3s;
    top: 0vw;
    right: 0vw;
    position: absolute;
    display: block;
    height: 6vw;
  }

  .menubtn:hover {opacity: 0.7;}

.menubtn .menumob {
    margin-left: 0vw;
    float: left;
    font-size: 4vw;
    margin-right: 0.5vw;
    color: black;
    vertical-align: middle;
  }

  .menubtn img {
    width: 4vw;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    float: left;
    top: 0.5vw;
  }

 .menu .menu-content ul {
    padding-left: 0vw;
    padding-right: 0vw;
    overflow: hidden;
    width: 100vw;
  }

  .menu .menu-content ul li {
    list-style-type: none;
    width: 100vw;
    border-bottom: 0.1vw solid white; 
    text-align: center;
    overflow: hidden;
    margin-right: 0vw;
  }

  .menu .menu-content ul li a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 5vw;
    padding-left: 29vw;
    padding-right: 29vw;
    padding-top: 5vw;
    padding-bottom: 5vw;
    color: rgb(139, 138, 138);
  }

  .menu .menu-content ul li a:hover,
  .menu .menu-content ul li a:focus {
    color: white
  }

  .active {
    color: white
  }

  .menu {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 0vw;
    overflow: hidden;
    background-color: black;
    background-color: rgba(0,0,0,0.9);
    width: 100%; /* Full width */
  height: 100%; /* Full height */
    
  }

  .menu-content {
    display: block;
    animation-name: zoom;
    animation-duration: 0.6s;
    padding-right: 0vw;
    width: 100vw;
  }

  @keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
  }

  .close-menu {
    position: absolute;
    top: 1.5vw;
    right: 3.5vw;
    color: #f1f1f1;
    font-size: 4vw;
    font-weight: bold;
    transition: 0.3s;
  }

  .close-menu:hover,
  .close-menu:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }

  .show {display:block;}

}







@media only screen and (max-width:620px) {
  /*  For mobile phones:*/
      .main-menu {
    display: none;
  }

      .wide {
      width: 49.9vw;
    }
      .narrow {
      width: 24.9vw;
    }
    body {
      width: 100vw;
      padding-left: 0vw;
      padding-right: 0vw;
      }
      .header {
        height: 5vw;
        width: 100vw;
        position: relative;
        top: 0vw;
      left: 0vw;
      z-index: 1;
      display: block;
    }
    .header h1 {
      font-size: 5vw;
  }
  .gallery {
    width: 100vw;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
    background-color: pink;
    position: relative;
    margin-top: 1vw;
}
.thumbnail {
  height: 30vw;
  background-color: black;
  border-radius: 1vw;
  overflow: hidden;
  float: left;
  align-content: center;
  margin-right: 0.1vw;
  margin-bottom: 0.1vw;
}

#myImg {
  cursor: pointer;
  transition: 0.3s;
  height: 30vw;
  
}
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 5vw; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 80vw;
}




  }


